* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
  }

@media (min-width: 1024px) {

.container {
    display: flex;
  }

.textoprincipal {
  flex: 1;
  padding: 20px;
}

.textoprincipal h1,
.textoprincipal h3 {
  margin: 0 0 20px;
}

.textoprincipal h1{
  font-size: 3.6rem;
  margin-top: 65px;
  color: #9e001d;
}

.textoprincipal h3 {
  font-size: 1.5rem;
  color: #6d0000;
}

.imgprincipal {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.imgprincipal img {
  max-width: 100%;
  max-height: 60%;
  margin-top: 5rem;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .nav-link.active {
  color: red !important;
}

.touts-columns {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 64px;
  padding-bottom: 70px;
  background-color: #f5f5f5;
  padding-top: 64px;
  padding-bottom: 72px;
  text-align: center;
}

.touts-columns__content {
  display: flex;
  flex-direction: column;
}

.touts-columns__title {
  font-size: 36px;
  line-height: 44px;
}

.touts-columns__modules {
  display: flex;
  justify-content: center;
}

.touts-columns__module {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
}

.touts-columns__module__image {
  width: 200px; 
  height: 200px; 
}

.touts-columns__module__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}













.mododark {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-right: 30px;
}

body.dark {
  background: #292c35;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);

}

.label .ball {
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #973a3e;
}

.fa-sun {
  color: #cd594c;
}

}